<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Development, automated. </h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-star size-lg"></i>
  				</figure>
  				<h3>People</h3>
  				<h4>
						We carefully select talented developers who focus on your product full-time and are dedicated for the long-term.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-heart size-lg"></i>
  				</figure>
  				<h3>Process</h3>
  				<h4>
  					From hiring to onboarding to delivery, our managers built a world-class process to ensure consistent and reliable code. 
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-clipboard size-lg"></i>
          </figure>
          <h3>Software</h3>
          <h4>
          A simple management dashboard that gives you and your stakeholders custom updates of all development activity.
          </h4>
        </div>
  	  </div>
    </div>
  </div>

</div>
