<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Your elastic dream team</h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-star size-lg"></i>
  				</figure>
  				<h3>Vetted</h3>
  				<h4>
						We carefully select developers through interviews, background checks, and by testing competence on real projects.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-heart size-lg"></i>
  				</figure>
  				<h3>Committed</h3>
  				<h4>
  					Each developer uses your tools, your processes, and focuses only on your product full-time.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-clipboard size-lg"></i>
          </figure>
          <h3>Organized</h3>
          <h4>
          Collaborate without the hassle of daily management. Our scrum masters keep your project on schedule.
          </h4>
        </div>
  	  </div>
    </div>
  </div>

</div>
