<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Compact. Clean. Carefree.</h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-medall size-lg"></i>
  				</figure>
  				<h3>Compact</h3>
  				<h4>
						Custom solutions that can fit within your existing server architecture.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-vector size-lg"></i>
  				</figure>
  				<h3>Energy Efficient</h3>
  				<h4>
  					Patented self-pumping technology means less noise and energy usage.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-clipboard size-lg"></i>
          </figure>
          <h3>No maintenance</h3>
          <h4>
          Our self contained system has no moving parts and lasts longer than your server. 
          </h4>
        </div>
  	  </div>
    </div>
  </div>

</div>
