{{!-- <div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4'>
        <div class='card'>
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image mock">
            <img src="/assets/icons/mock.png">
          </figure>
        </div>
      </div> 
    </div>
  </div> --}}


<div class="Developers">

  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">QC Lab-in-a-box</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-bolt size-lg"></i>
  				</figure>
  				<h3>Quick</h3>
  				<h4>
						Start measuring contaminants right at the manufacturing plant - 100x faster than sending samples to a lab. 
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
  				<h3>Easy</h3>
  				<h4>
  					Designed to be used in minutes by production staff. Pour in a sample, press the button, and wait for the result.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-dashboard size-lg"></i>
          </figure>
          <h3>Accurate</h3>
          <h4>
          Cutting edge technology matches the quantitative accuracy of a PCR. Without any technicians or lab space.
          </h4>
        </div>
  	  </div>
    </div>
  </div>
</div>