<div class="Developers">


  <div class="blurb">
    <div class="columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">Build it right the first time </h3>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
  				  {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
						<i class="lni-medall size-lg"></i>
  				</figure>
  				<h3>Elite</h3>
  				<h4>
						We rigorously assess team members to ensure their values, soft skills, and technical competence are up to our high standards.
          </h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-vector size-lg"></i>
  				</figure>
  				<h3>Optimized</h3>
  				<h4>
  					We work to understand your existing development process and recommend best practices if they're not already in place.
  				</h4>
          <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni-clipboard size-lg"></i>
          </figure>
          <h3>Managed</h3>
          <h4>
          We take care of culture, office space, payroll, and everything else, so you can focus on your product and leave the rest to us. 
          </h4>
        </div>
  	  </div>
    </div>
  </div>

</div>
