
<div class="MainHero">
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
    	        Elite developers at your service
    	      </h1>
            <div class="sub">
              <h2 class="">
              Speed up product development with a remote team of communicative, collaborative, and experienced developers.  
              

              </h2>
            </div>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Request an invite</a>
            </p>
  				</div>

  			</div>
      </div>

    </div>
  </section>
</div>

{{!-- <div class="Mockups">
  <img src="/assets/images/devices.png" alt="Pollygot">
  <img id="support" src="/assets/images/support.png" alt="Pollygot">

</div> --}}
