
<div class="MainHero">
  
  <div id="angles" class="">
    <div class="animals"></div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
    	        Measure metals, chemicals and enzymes at the production line
    	      </h1>
            <div class="sub">
              <h2 class="">
              Rapid-testing device that ensures food safety quickly, easily, and accurately.
              </h2>
            </div>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Request an invite</a>
            </p>
  				</div>
  			</div>
      </div>
    </div>
  </section>
</div>
<div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4'>
        <div class='card'>
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image mock">
            <img src="/assets/icons/mock.png">
          </figure>
        </div>
      </div> 
    </div>
  </div>

{{!-- <div class="Mockups">
  <img src="/assets/icons/mock.png" alt="ToxBox">
</div> --}}


